<h1><%= t("tts.index.title") %></h1>

<p>
  <textarea class="input-xxlarge" rows="20"></textarea>
</p>
 
 <p>
  <select>
    <% if !@languages.blank? %>
      <% for language in @languages %>
        <option value="<%= language.value %>"><%= language.name %></option>
      <% end %>
    <% end %>
  </select>
 </p>

<p>
  <button class="btn btn-large btn-primary" type="button"><%=t("tts.index.submit")%></button>
</p>


